<div class="mc-page">
  <header class="mc-page-header">
    <h1 class="mc-page-header__title">{{ 'FAVOURITES.TITLE' | translate }}</h1>
  </header>

  <!-- Loading / error -->
  <div *ngIf="isLoading" class="mc-state" role="status">
    <mat-progress-spinner mode="indeterminate" diameter="40" strokeWidth="4"></mat-progress-spinner>
    <span>{{ 'MEDICINE.LOADING' | translate }}</span>
  </div>

  <div *ngIf="!isLoading && errorMessage" class="mc-state mc-state--danger" role="alert">
    <span class="mc-state__icon" aria-hidden="true"><mat-icon>error_outline</mat-icon></span>
    <span>{{ errorMessage }}</span>
  </div>

  <!-- Items -->
  <ul class="mc-list" *ngIf="!isLoading && !errorMessage && items.length > 0">
    <li class="mc-list__item" *ngFor="let item of items">
      <a class="mc-list__thumb" [routerLink]="['/client/medicine', item.medicineId]" tabindex="-1" aria-hidden="true">
        <img [src]="item.imagePath | apiImage" [alt]="item.medicineName" loading="lazy" />
      </a>

      <div>
        <a class="mc-list__name" [routerLink]="['/client/medicine', item.medicineId]">{{ item.medicineName }}</a>

      </div>

      <span class="mc-price">{{ item.price | number : '1.2-2' }} KM</span>

      <div class="mc-list__actions">
        <button
          mat-icon-button
          type="button"
          (click)="addToCart(item)"
          matTooltip="Dodaj u korpu"
          aria-label="Dodaj u korpu"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          (click)="removeItem(item)"
          [matTooltip]="'FAVOURITES.ACTIONS.REMOVE_TOOLTIP' | translate"
          [attr.aria-label]="'FAVOURITES.ACTIONS.REMOVE_TOOLTIP' | translate"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>

  <!-- No data -->
  <div class="mc-state" *ngIf="!isLoading && !errorMessage && items.length === 0">
    <span class="mc-state__icon" aria-hidden="true"><mat-icon>favorite_border</mat-icon></span>
    <ng-container *ngIf="request.search; else noDataDefault">
      {{ 'FAVOURITES.NO_DATA_FILTER' | translate }}
    </ng-container>
    <ng-template #noDataDefault>{{ 'FAVOURITES.NO_DATA' | translate }}</ng-template>
  </div>

</div>
