.img-zoom {
  width: 300px;
  overflow: hidden;
  cursor: zoom-in;
}

.img-zoom img {
  width: 100%;
  transition: transform 0.3s ease;
}

.img-zoom img.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}
